body{
    background: linear-gradient(to bottom, #2d5c9b,white);
}


.box{
    border: 3px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px  rgba(2, 6, 17,0.3);
    background-color: #2d5d9ba2;
    color: rgb(240, 241, 241);
}
#text{
    text-align: center;
}
#text h1{
    
    color: rgb(255, 255, 255);
    margin: 5px 10px 10px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form{
    width: 600px;
    margin: 80px 270px 80px 270px;
}
.form-row.align-items-center {
    width: 400px;
    margin-left: 100px;
}
.my-1 {
    margin-left: -100px;
}
.form-group {
 margin-bottom: 20px;
}
#name{
    margin-top: 10px;
}



select#inlineFormCustomSelect {
    width: 360px;
    border-radius: 4px;
}
.btn-primary {
    color: #eaf0f1;
    background-color: #b1b6bb46;
    border-color: #3b434ec7;
    margin-left: 60px;
}


.btn-primary:hover {
    color: rgb(222, 225, 240);
    background-color: #0c0c0c;
    border-color: #2c3849;

}